.reward-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 0.85rem;
}

.reward-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
